body {
    font-family: Arial, helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f9f9f9;
}

.hero {
    background-image: url('../images/hero-image.jpg');
    filter: blur(2px) brightness(0.5);
    background-size: cover;
    background-position: center;
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-bottom: solid 2px #29af30;
}

section {
    padding: 20px;
    background: white;
    border-top: solid #29af30;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #4CAF50;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-bottom: 50px;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}