body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.hero {
    background-image: url('../images/hero-image.jpg');
    filter: blur(2px) brightness(0.5);
    background-size: cover;
    background-position: center;
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-bottom: solid 2px #29af30;
}

.hero h1 {
    color: #4CAF50;
    font-size: 3rem;
    margin: 0;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #4CAF50;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}